.notification-message {
    position: fixed;
    z-index: 1111;
    left: 69%;
    padding: 2rem;
    width: 30%;
}

.p-message .p-message-summary {
    font-size: $default-font-size;
    margin-right: 0.7rem;
}


.p-message .p-message-detail {
    font-size: 1.6rem;
}